.CommentsListItem {
  padding: 10px 8px;
  box-sizing: border-box;
  background: white;
  border-bottom: 1px solid #f7f7f7;

  .title {
    margin-bottom: 0;
  }

  .meta {
    height: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 15px;
    color: #b5b5b5;
  }

  .text {
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 0;
  }

  &:hover {
    background-color: rgba(84, 255, 0, 0.1);
  }
}