.CreateProjectForm {
  background-color: #f7f7f7;
  height: 52px;
  padding: 8px 4px;
  .fields {
    width: 80%;
    display: inline-block;
    vertical-align: top;
  }
  .field {
    margin-bottom: 8px;
  }
  .actions {
    width: 20%;
    display: inline-block;
    text-align: right;
    vertical-align: top;

  }
}
