.Accordion {
  margin: 0 0 8px 0;
  .toggle {
    font-size: 12px;
    line-height: 15px;
    color: #0193d6;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
  .container {
    margin: 8px 0;
  }
}