.SignUp {
  .content {
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .title {
    font-size: 32px;
  }
  .footer {
    margin-top: 16px;
  }
}